.signup-main, .login-main {
    display: flex;
    justify-content: center;
}

.signup-card, .login-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-radius: 4%;
    padding: 2em;
}

.signup-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    max-width: 70%;
}

.login-redirect, .signup-redirect {
    display: inherit;
    flex-direction: column;
    align-items: center;
}


.formik-email-error, .formik-password-error, .formik-login-error {
    color: red;
    text-align: center;
    font-size: .9em;
}

.signup-btn-submit, .login-btn-submit {
    background-color: #232D3F;
    color: white;
    border-radius: 5%;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}